[submodule "/home/mahmud/CAV_project/cad-final-project/ros/TRAFFICLIGHTDETECTION"]
	path = /home/mahmud/CAV_project/cad-final-project/ros/TRAFFICLIGHTDETECTION
	url = https://github.com/AliMO77/TRAFFICLIGHTDETECTION.git
